@model Tolltech.MuserUI.Models.Sync.AuthorizeForm

<form asp-action="AuthorizeYa" asp-controller="Sync"
      data-ajax="true"
      data-ajax-method="POST"
      data-ajax-mode="replace"
      data-ajax-success="$('#yaPlaylistForm').submit()"
      data-ajax-failure="YaFail()"
      data-ajax-update="#yaPlaylists">
   
    <fieldset>
        <legend>Авторизация Яндекс</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.Login,"Логин")
                @Html.TextBoxFor(m => m.Login)
            </li>
            <li>
                @Html.LabelFor(m => m.Pass,"Пароль")
                @Html.PasswordFor(m => m.Pass)
            </li>
        </ol>
        <input type="submit" value="Авторизовать" />
        <input type="button" value="Разлогиниться" id="unAuthorizeButton" onclick='UnauthorizeYa("@Url.Action("UnauthorizeYa", "Sync")")' />
    </fieldset>
</form>