@model Tolltech.MuserUI.Models.Sync.ProgressModel

<div class="common">
    <span>
        @if (Model.Submitted)
        {
            <label>Импортировано </label>
        }
        else
        {
            <label>Готово к импорту </label>
        }
        <label>@Model.Processed</label>
        <label>/</label>
        <label>@Model.Total</label>
    </span>
    <input type="hidden" value="@(Model.ImportLogsSaved ? 1 : 0)" id="importLogsSavedInput">
</div>

@if (Model.Errors.Count > 0)
{
    <div class="common">
        <label style="color: red">Не удалось найти</label>
    </div>

    <select multiple class="track-list">
        @foreach (var error in Model.Errors)
        {
            <option selected value="@error.Message">@error.Track?.Artist - @error.Track?.Title</option>
        }
    </select>
}