@model Tolltech.MuserUI.Models.Sync.ProgressModel

<div class="common">
    <span>
        <label>Импортировано </label>
        <label>@Model.Processed</label>
        <label>/</label>
        <label>@Model.Total</label>
    </span>
    <input type="hidden" value="@Model.Left" id="leftProgressInput">
</div>

@if (Model.Errors.Count > 0)
{
    <div class="common">
        <label>Не удалось импортировать</label>
    </div>
    foreach (var error in Model.Errors)
    {
        <div>
            <span>
                <label>@error.Track?.Artist</label>
                <label> - </label>
                <label>@error.Track?.Title</label>
                <input type="hidden" value="@error.Message"/>
            </span>
        </div>
    }
}