@{
    ViewBag.Title = "TollMuser.Ошибки импорта";
}

@model Tolltech.MuserUI.Models.SyncWizard.ReImportModel

<div id="linkToPlaylistDiv">
    @await Html.PartialAsync("LinkToPlaylist", Model.PlaylistUrl)
</div>

<form id="reImportForm" asp-action="ReImport" asp-controller="SyncWizard" method="post">
    <fieldset>
        <legend>Выберите треки, если мы нашли их верно</legend>
        <table class="even-odd table-padding" id="reImportTrackTable">
            <tr>
                <td>Искали</td>
                <td>Нашли</td>
            </tr>
            @for (var i = 0; i < Model.Tracks.Length; i++)
            {
                <tr>
                    <td>
                        <label>@Model.Tracks[i].InputArtist - @Model.Tracks[i].InputTitle</label>
                    </td>
                    <td>
                        @if (Model.Tracks[i].Disabled)
                        {
                            <input type="checkbox" disabled="disabled" name="@("reimportTrackCheckbox" + i)">
                        }
                        else
                        {
                            <input type="checkbox" name="@("reimportTrackCheckbox" + i)"
                                   trackid="@Model.Tracks[i].TrackId"
                                   albumid="@Model.Tracks[i].AlbumId"
                                   dbid="@Model.Tracks[i].Id">
                        }
                        <label for="@("reimportTrackCheckbox" + i)">@Model.Tracks[i].Artist - @Model.Tracks[i].Title</label>
                    </td>
                </tr>
            }
        </table>
        <input type="hidden" name="sessionid" value="@Model.SessionId"/>
        <input type="hidden" name="playlistid" value="@Model.PlaylistId"/>
        <input type="hidden" id="reImportInputHidden" name="reImportForm"/>
        <input id="reimportButton" type="button" value="Импортировать" class="btn btn-outline-dark"/>
    </fieldset>
</form>

@section Scripts
{
    <script type="text/javascript">

        function GetReImportTrackForm() {
            var selectedTracks=$('#reImportTrackTable input:checked');

            var tracks = [];
            for (var i = 0; i < selectedTracks.length; ++i) {
                var data = {
                    TrackId: $(selectedTracks[i]).attr('trackid'),
                    AlbumId: $(selectedTracks[i]).attr('albumid'),
                    Id: $(selectedTracks[i]).attr('dbid')
                };
                tracks.push(data);
            }

            return {
                Tracks: tracks,
                PlaylistId: $('#reImportForm input[name=playlistid]').val(),
                SessionId: $('#reImportForm input[name=sessionid]').val()
            };
        }

        $(document).ready(function() {
            $('#reimportButton').click(function() {
                    var form = GetReImportTrackForm();
                    $('#reImportInputHidden').val(JSON.stringify(form));
                    $('#reImportForm').submit();
                }
            );
        });


    </script>
}